set default=0
set timeout=5

insmod part_gpt
insmod part_msdos
insmod fat
insmod ext2
insmod all_video

set color_normal=cyan/black
set color_highlight=white/blue

menuentry "ToyamasOS 1.0 Live & Install (Debian 13 Minimal - 1GB RAM VPS)" {
    linux /live/vmlinuz boot=live quiet splash toyamas.firstboot=1
    initrd /live/initrd.img
}

menuentry "ToyamasOS 1.0 (Failsafe / Safe Mode)" {
    linux /live/vmlinuz boot=live nomodeset noapic noacpi nosmp
    initrd /live/initrd.img
}

menuentry "Boot from Hard Disk" {
    exit
}
