UI menu.c32
PROMPT 0
TIMEOUT 50
DEFAULT toyamas

MENU TITLE ToyamasOS 1.0 Live & Installer Menu

LABEL toyamas
    MENU LABEL ToyamasOS 1.0 (Debian 13 Minimal - Headless Server)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live quiet splash toyamas.firstboot=1

LABEL failsafe
    MENU LABEL ToyamasOS 1.0 (Failsafe Mode)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live nomodeset noapic noacpi nosmp
